BOT_PREFIX=!
DEBUG=1

DISCORD_CLIENT_ID=
DISCORD_BOT_TOKEN=
DISCORD_INTENTS=GuildMessages,MessageContent

OSU_API_KEY=
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

PEXELS_KEY=

LAST_FM_KEY=

OPENWEATHERMAP_KEY=

BEATMAP_MIRRORS=https://mirror.nekoha.moe/api4/download/$SETID,...
